{% extends "posts/layout.html" %}

{% block title%} Новости на сайте {% endblock%} 

{% block content%}
    <div class="features">
        <h1>Новости</h1>
        {% if novosti %}    
            {% for el in novosti %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                    <a href="{% url 'novosti_detail' el.id %}" class="btn btn-warning">Читать детальнее</a>
                </div>
            {%endfor%}
        {% else %}
            <p>У вас нет записей!</p>
        {% endif %}    
    </div>   
{% endblock %}        